<configuration>
  <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
  <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <charset>UTF-8</charset> 
      <pattern>
        <!--Date-->%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} <!--Log level--> %clr(%5p) <!--Thread--> %clr(---){faint} %clr([%15.15t]){faint} <!--Logger-->%clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wex
      </pattern>
    </encoder>
  </appender>

  <logger name="grails.app.init">
    <level value="DEBUG" />
  </logger>

  <logger name="grails.app.controllers">
    <level value="DEBUG" />
  </logger>

  <logger name="grails.app.domains">
    <level value="DEBUG" />
  </logger>

  <logger name="grails.app.jobs">
    <level value="DEBUG" />
  </logger>

  <logger name="grails.app.services">
    <level value="DEBUG" />
  </logger>

  <logger name="com.k_int">
    <level value="DEBUG" />
  </logger>

  <logger name="pubskb">
    <level value="DEBUG" />
  </logger>

  <logger name="okapi">
    <level value="INFO" />
  </logger>

  <logger name="folio">
    <level value="DEBUG" />
  </logger>

  <logger name="org.olf">
    <level value="DEBUG" />
  </logger>

  <logger name="com.k_int.okapi.OkapiTenantAdminService">
    <level value="DEBUG" />
  </logger>

  <logger name="com.k_int.okapi.OkapiSchemaHandler">
    <level value="WARN" />
  </logger>

  <logger name="com.k_int.web.toolkit">
    <!-- MODSER-94: DEBUG leaks S3 secret key (FileUploadService); INFO suppresses it and is safe -->
    <level value="INFO" />
  </logger>

  <logger name="org.grails.gorm.graphql">
    <level value="WARN" />
  </logger>

  <logger name="org.hibernate.orm.deprecation">
    <level value="ERROR" />
  </logger>

  <logger name="mod.directory">
    <level value="INFO" />
  </logger>

  <logger name="com.k_int.okapi">
    <level value="WARN" />
  </logger>

  <logger name="com.k_int.okapi.OkapiClient">
    <!-- MODSER-94: TRACE dumps all raw HTTP headers including x-okapi-token; INFO only logs registration/deployment events -->
    <level value="INFO" />
  </logger>

  <!--
  <logger name="org.olf.okapi.modules.directory.CustomBinders">
    <level value="WARN" />
  </logger>
  -->

  <!--LOG SQL - VERBOSE!!!!!!-->
  <!--
  <logger name="org.hibernate.SQL">
    <level value="TRACE" />
    <appender-ref ref="STDOUT" />
  </logger>
  -->

  <!--This one for SQL bind parameters-->
  <!--
  <logger name="org.hibernate.type.descriptor.sql.BasicBinder">
    <level value="TRACE" />
    <appender-ref ref="STDOUT" />
  </logger>
  -->

  <root level="error">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
